mediapipe_env/
output/
tmp/
__pycache__/
*.pyc

MotionGuardUnity/Library/
MotionGuardUnity/Temp/
MotionGuardUnity/Logs/
MotionGuardUnity/Obj/
MotionGuardUnity/UserSettings/
MotionGuardUnity/Build/
MotionGuardUnity/Builds/

.vs/
.idea/
.plastic/
.DS_Store
Thumbs.db